[{
  "name": "${container_name}",
  "image": "${image}",
  "networkMode": "awsvpc",

  "environment": [
    {
      "name": "ENV",
      "value": "${environment}"
    },
    {
      "name": "LOGGER_LEVEL",
      "value": "${logger_level}"
    },
    {
      "name": "NODE_ENV",
      "value": "${node_env}"
    },
    {
      "name": "PORT",
      "value": "${port}"
    },
    {
      "name": "SUPPRESS_NO_CONFIG_WARNING",
      "value": "${suppress_no_config_warning}"
    },
    {
      "name": "CT_URL",
      "value": "${control_tower_url}"
    },
    {
      "name": "GLAD_ALERTS_API_URL",
      "value": "${glad_alerts_api_url}"
    }
  ],
  "secrets": [
    {
      "name": "GFW_DATA_API_KEY",
      "valueFrom": "${gfw_data_api_key}"
    }
  ],
  "portMappings": [
    {
      "containerPort": ${container_port},
      "hostPort": ${container_port}
    }
  ],
  "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${log_group}",
        "awslogs-region": "${aws_region}",
        "awslogs-stream-prefix": "${container_name}"
       }
  }
}]
